[Unit]
Descriptions=Grafana Container
Requires=docker.service
After=docker.service

[Service]
User=pi
Restart=always
ExecStart=/usr/bin/docker start -a grafana
ExecStop=/usr/bin/docker stop -t 2 grafana
Type=simple

[Install]
WantedBy=power-monitor.service
